@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

html,
body{
    font-size: 16px;
    background-color: #6E789D;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.components-items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

* {
    --scrollbar-foreground: #f3f3f3;
    --scrollbar-background: #c4c4c4;
    --scrollbar-size: 12px;
    /* плашка-бегунок, фон */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
*::-webkit-scrollbar {
    width: var(--scrollbar-size); /* в основном для вертикальных полос прокрутки */
    height: var(--scrollbar-size); /* в основном для горизонтальных полос прокрутки */
}
*::-webkit-scrollbar-thumb { /* плашка-бегунок */
    background: var(--scrollbar-foreground); /* фон */
    border-radius: 1rem;
    border: 2px var(--scrollbar-background) solid;
}
*::-webkit-scrollbar-track { /* фон */
    background: var(--scrollbar-background);
    
}